@font-face {
  font-family: "gibson";
  src: url("./fonts/Gibson-Light.woff2") format("woff2"),
       url("./fonts/Gibson-Light.woff") format("woff"),
       url("./fonts/Gibson-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "gibson";
  src: url("./fonts/Gibson-SemiBold.woff2") format("woff2"),
       url("./fonts/Gibson-SemiBold.woff") format("woff"),
       url("./fonts/Gibson-SemiBold.otf") format("opentype");
  font-weight: 600;
}

body {
	font-family: gibson, helvetica;
	font-weight: 300;
}
h1, .h1 {
	font-size: 84px;
	color: $pink;
	font-weight: 600;
}
h2 {
	color: $pink;
	font-size: 34.7px;
	font-weight: 600;
}
p {
	color: white;
	font-size: 24px;
	.intro {
		font-size: 26.7px;
	}
}
